---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for p in collections.all %}
  {%- if p.url and not p.url.startsWith('/admin') and '.txt' not in p.url and '.xml' not in p.url %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ p.date | isoDate }}</lastmod>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
